Options +FollowSymLinks
RewriteEngine on



# Serve JSON-LD at vocabulary IRI if requested
RewriteCond %{HTTP_ACCEPT} application/ld\+json
RewriteRule ^([0-9a-zA-Z\-]+)/?$ http://xapi.vocab.pub/datasets/$1.jsonld [R=303]

# Serve JSON-LD at vocabulary type IRI if requested
RewriteCond %{HTTP_ACCEPT} application/ld\+json
RewriteRule ^([0-9a-zA-Z\-]+)/(.*)$ http://xapi.vocab.pub/datasets/$1.jsonld [R=303]

# Serve JSON-LD at vocabulary term IRI if requested
RewriteCond %{HTTP_ACCEPT} application/ld\+json
RewriteRule ^([0-9a-zA-Z\-]+)/(.*)/(.*)$ http://xapi.vocab.pub/datasets/$1.jsonld [R=303]



# Serve Constrained JSON-LD at vocabulary IRI if JSON is requested
RewriteCond %{HTTP_ACCEPT} application/json
RewriteRule ^([0-9a-zA-Z\-]+)/?$ http://xapi.vocab.pub/datasets/$1.jsonld [R=303]

# Serve Constrained JSON-LD at vocabulary IRI if JSON is requested
RewriteCond %{HTTP_ACCEPT} application/json
RewriteRule ^([0-9a-zA-Z\-]+)/(.*)$ http://xapi.vocab.pub/datasets/$1.jsonld [R=303]

# Serve Constrained JSON-LD at vocabulary IRI if JSON is requested
RewriteCond %{HTTP_ACCEPT} application/json
RewriteRule ^([0-9a-zA-Z\-]+)/(.*)/(.*)$ http://xapi.vocab.pub/datasets/$1.jsonld [R=303]